<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="com.naveenautomationlabs.AutomationFramework.Listeners.CustomListener"></listener>
		<listener class-name="com.naveenautomationlabs.AutomationFramework.Listeners.TransformerForRetry"></listener>
		<listener class-name="com.naveenautomationlabs.AutomationFramework.Listeners.ExtentReportListener"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.SuccessTest"/>
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.IphoneTest"/>
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.YourStoreTest"/>
      
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.YourTransactionsTest"/>
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.AppleCinema30Test"/>
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.ShoppingCartTest"/>
      <class name="com.naveenautomationlabs.AutomationFramework.Tests.MyAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
